## df_coor table has geospatial coordinates (x, y, z axis) for 32 points.
## For each NAME ID, please fill in the empty columns by calculating the nearest and the second nearest points among the remaining 31 NAME IDs.
## There is no limit in terms of the method / approach / library.

In [2]:
import pandas as pd
import numpy as np

from scipy.spatial import distance

In [3]:
from sklearn.neighbors import NearestNeighbors

In [4]:
df_coor = pd.DataFrame(
      [['A01', -1120.0, 0.0, 85.2, np.nan, np.nan],
       ['A02', -1085.0, -200.0, 84.6, np.nan, np.nan],
       ['A03', -1085.0, 200.0, 84.6, np.nan, np.nan],
       ['A04', -934.0, 0.0, 83.2, np.nan, np.nan],
       ['A05', -995.0, -586.0, 85.3, np.nan, np.nan],
       ['A06', -1055.0, -372.9, 77.5, np.nan, np.nan],
       ['A07', -893.0, -506.0, 91.4, np.nan, np.nan],
       ['A08', -972.0, -372.9, 90.9, np.nan, np.nan],
       ['A09', -780.0, -506.0, 123.4, np.nan, np.nan],
       ['A10', -885.0, -372.9, 128.4, np.nan, np.nan],
       ['A11', -615.0, -615.0, 154.7, np.nan, np.nan],
       ['A12', -995.0, 586.0, 85.3, np.nan, np.nan],
       ['A13', -1055.0, 372.9, 77.5, np.nan, np.nan],
       ['A14', -893.0, 506.0, 91.4, np.nan, np.nan],
       ['A15', -972.0, 372.9, 90.9, np.nan, np.nan],
       ['A16', -780.0, 506.0, 123.4, np.nan, np.nan],
       ['A17', -885.0, 372.9, 128.4, np.nan, np.nan],
       ['A18', -615.0, 615.0, 154.7, np.nan, np.nan],
       ['A19', -880.4, -800.0, 78.0, np.nan, np.nan],
       ['A20', -740.0, -850.0, 105.7, np.nan, np.nan],
       ['A21', -625.0, -800.0, 76.5, np.nan, np.nan],
       ['A22', -474.8, -843.7, 92.7, np.nan, np.nan],
       ['A23', -880.4, 800.0, 78.0, np.nan, np.nan],
       ['A24', -740.0, 850.0, 105.7, np.nan, np.nan],
       ['A25', -625.0, 800.0, 76.5, np.nan, np.nan],
       ['A26', -474.8, 843.7, 92.7, np.nan, np.nan],
       ['A27', -760.0, -730.0, 123.3, np.nan, np.nan],
       ['A28', -490.7, -805.0, 115.2, np.nan, np.nan],
       ['A29', -461.2, -828.8, 145.0, np.nan, np.nan],
       ['A30', -760.0, 730.0, 123.3, np.nan, np.nan],
       ['A31', -490.7, 805.0, 115.2, np.nan, np.nan],
       ['A32', -461.2, 828.8, 145.0, np.nan, np.nan]], 
                       
       columns=['NAME', 'X', 'Y', 'Z', 'nearest', '2nd_nearest'])

In [5]:
df_coor.tail()

   NAME      X      Y      Z  nearest  2nd_nearest
27  A28 -490.7 -805.0  115.2      NaN          NaN
28  A29 -461.2 -828.8  145.0      NaN          NaN
29  A30 -760.0  730.0  123.3      NaN          NaN
30  A31 -490.7  805.0  115.2      NaN          NaN
31  A32 -461.2  828.8  145.0      NaN          NaN

## The euclidean distance between the first (A01) and the second row (A02) is as follows:

In [12]:
distance.euclidean((df_coor['X'][0], df_coor['Y'][0], df_coor['Z'][0]), 
                  
                   (df_coor['X'][7], df_coor['Y'][7], df_coor['Z'][7]))

401.2367131756514

### If I'm not mistaken this seem to be a search problem, the classic 'travelling salesman'.
### From the AI search problem view I should decide which algorithm is the best in given case: deapth or breadth first or iterative etc. or use heuristic, ex. greedy search (question of optimal vs.cheapest solution).

### Since this is a small data sample, for calculating the lowest distance, I could use the brute force method (exhaustive search). 
### However, if the sample gets bigger, taking into consideration computational cost, it's better to use binary tree based search, KD tree or ball nearest neighbors (based on greedy search algorithm). However, this method can result occasionaly in incorrect suggestions but fastest computation with "good enough" estimations.

### Scikit Learn's Nearest Neighbors is good solution for this problem, it's algorithm can be set to brute, KD tree or ball or leave on auto to decide the method by itself based on the input data).

In [6]:
#fitting and getting the indices of nearest items
nbrs = NearestNeighbors(n_neighbors=2, metric='euclidean', algorithm= 'brute').fit(df_coor[['X', 'Y', 'Z']])
indices = nbrs.kneighbors(df_coor[['X', 'Y', 'Z']], n_neighbors =3, return_distance= False)

In [7]:
# df copy for different approach below, for assigning nearest items to the right coloumns
df_coor_copy = df_coor

In [8]:
names_guide = df_coor['NAME']

for i in df_coor.index:
    x= ([names_guide[i] for i in indices[i]])
            
    df_coor['nearest'][i] = x[1]
    df_coor['2nd_nearest'][i] = x[2]
        
df_coor

C:\Users\sharl\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\sharl\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\sharl\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

   NAME       X      Y      Z nearest 2nd_nearest
0   A01 -1120.0    0.0   85.2     A04         A03
1   A02 -1085.0 -200.0   84.6     A06         A01
2   A03 -1085.0  200.0   84.6     A13         A01
3   A04  -934.0    0.0   83.2     A01         A03
4   A05  -995.0 -586.0   85.3     A07         A08
5   A06 -1055.0 -372.9   77.5     A08         A02
6   A07  -893.0 -506.0   91.4     A09         A05
7   A08  -972.0 -372.9   90.9     A06         A10
8   A09  -780.0 -506.0  123.4     A07         A10
9   A10  -885.0 -372.9  128.4     A08         A07
10  A11  -615.0 -615.0  154.7     A27         A09
11  A12  -995.0  586.0   85.3     A14         A15
12  A13 -1055.0  372.9   77.5     A15         A03
13  A14  -893.0  506.0   91.4     A16         A12
14  A15  -972.0  372.9   90.9     A13         A17
15  A16  -780.0  506.0  123.4     A14         A17
16  A17  -885.0  372.9  128.4     A15         A14
17  A18  -615.0  615.0  154.7     A30         A16
18  A19  -880.4 -800.0   78.0     A27         A20
19  A20  -740.0 -850.0  105.7     A27         A21
20  A21  -625.0 -800.0   76.5     A20         A28
21  A22  -474.8 -843.7   92.7     A28         A29
22  A23  -880.4  800.0   78.0     A30         A24
23  A24  -740.0  850.0  105.7     A30         A25
24  A25  -625.0  800.0   76.5     A24         A31
25  A26  -474.8  843.7   92.7     A31         A32
26  A27  -760.0 -730.0  123.3     A20         A19
27  A28  -490.7 -805.0  115.2     A22         A29
28  A29  -461.2 -828.8  145.0     A28         A22
29  A30  -760.0  730.0  123.3     A24         A23
30  A31  -490.7  805.0  115.2     A26         A32
31  A32  -461.2  828.8  145.0     A31         A26

In [9]:
#or another approach to assigning values, using index reseting
df_coor_copy = df_coor_copy.set_index('NAME')

#get the row index (the row names) of the dataframe
names = list(df_coor_copy.index[indices])
names = np.reshape(names, (32, 3))

#reset index and assign values
df_coor_copy = df_coor_copy.reset_index()
df_coor_copy['NAME'], df_coor_copy['nearest'], df_coor_copy['2nd_nearest'] = names.T

df_coor_copy

   NAME       X      Y      Z nearest 2nd_nearest
0   A01 -1120.0    0.0   85.2     A04         A03
1   A02 -1085.0 -200.0   84.6     A06         A01
2   A03 -1085.0  200.0   84.6     A13         A01
3   A04  -934.0    0.0   83.2     A01         A03
4   A05  -995.0 -586.0   85.3     A07         A08
5   A06 -1055.0 -372.9   77.5     A08         A02
6   A07  -893.0 -506.0   91.4     A09         A05
7   A08  -972.0 -372.9   90.9     A06         A10
8   A09  -780.0 -506.0  123.4     A07         A10
9   A10  -885.0 -372.9  128.4     A08         A07
10  A11  -615.0 -615.0  154.7     A27         A09
11  A12  -995.0  586.0   85.3     A14         A15
12  A13 -1055.0  372.9   77.5     A15         A03
13  A14  -893.0  506.0   91.4     A16         A12
14  A15  -972.0  372.9   90.9     A13         A17
15  A16  -780.0  506.0  123.4     A14         A17
16  A17  -885.0  372.9  128.4     A15         A14
17  A18  -615.0  615.0  154.7     A30         A16
18  A19  -880.4 -800.0   78.0     A27         A20
19  A20  -740.0 -850.0  105.7     A27         A21
20  A21  -625.0 -800.0   76.5     A20         A28
21  A22  -474.8 -843.7   92.7     A28         A29
22  A23  -880.4  800.0   78.0     A30         A24
23  A24  -740.0  850.0  105.7     A30         A25
24  A25  -625.0  800.0   76.5     A24         A31
25  A26  -474.8  843.7   92.7     A31         A32
26  A27  -760.0 -730.0  123.3     A20         A19
27  A28  -490.7 -805.0  115.2     A22         A29
28  A29  -461.2 -828.8  145.0     A28         A22
29  A30  -760.0  730.0  123.3     A24         A23
30  A31  -490.7  805.0  115.2     A26         A32
31  A32  -461.2  828.8  145.0     A31         A26

### Somewhat different result between brute and kd_tree. (Some differences in 2nd nearest results due to same coordinates with negative and positive values for some units). 
### Auto would be set to kd_tree which would not calculate and compare all the possible distances but would be faster. 
### The gain in computational cost could get more signifficant when sample size bigger

In [10]:
#brute
indices

array([[ 0,  3,  2],
       [ 1,  5,  0],
       [ 2, 12,  0],
       [ 3,  0,  2],
       [ 4,  6,  7],
       [ 5,  7,  1],
       [ 6,  8,  4],
       [ 7,  5,  9],
       [ 8,  6,  9],
       [ 9,  7,  6],
       [10, 26,  8],
       [11, 13, 14],
       [12, 14,  2],
       [13, 15, 11],
       [14, 12, 16],
       [15, 13, 16],
       [16, 14, 13],
       [17, 29, 15],
       [18, 26, 19],
       [19, 26, 20],
       [20, 19, 27],
       [21, 27, 28],
       [22, 29, 23],
       [23, 29, 24],
       [24, 23, 30],
       [25, 30, 31],
       [26, 19, 18],
       [27, 21, 28],
       [28, 27, 21],
       [29, 23, 22],
       [30, 25, 31],
       [31, 30, 25]], dtype=int64)

In [11]:
#kd_tree  
#for this also scipy.spatial.KDTree can be used

nbrs = NearestNeighbors(n_neighbors=2, metric='euclidean', algorithm= 'kd_tree').fit(df_coor[['X', 'Y', 'Z']])
indices = nbrs.kneighbors(df_coor[['X', 'Y', 'Z']], n_neighbors =3, return_distance= False)
indices

array([[ 0,  3,  1],
       [ 1,  5,  0],
       [ 2, 12,  0],
       [ 3,  0,  1],
       [ 4,  6,  7],
       [ 5,  7,  1],
       [ 6,  8,  4],
       [ 7,  5,  9],
       [ 8,  6,  9],
       [ 9,  7,  6],
       [10, 26,  8],
       [11, 13, 14],
       [12, 14,  2],
       [13, 15, 11],
       [14, 12, 16],
       [15, 13, 16],
       [16, 14, 13],
       [17, 29, 15],
       [18, 26, 19],
       [19, 26, 20],
       [20, 19, 27],
       [21, 27, 28],
       [22, 29, 23],
       [23, 29, 24],
       [24, 23, 30],
       [25, 30, 31],
       [26, 19, 18],
       [27, 21, 28],
       [28, 27, 21],
       [29, 23, 22],
       [30, 25, 31],
       [31, 30, 25]], dtype=int64)